################################################
###       environment config file            ###
################################################

#################### Jenkins Home ####################
JENKINS_HOME=./jenkins_home

#################### Jenkins Port ####################
JENKINS_HTTP_PORT=9090
JENKINS_SLAVE_AGENT_PORT=50000

